* {
    margin: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;

  background: radial-gradient(#0C5419, #072F0E, #020D04);
  color: #66C275;

  font-family: sans-serif;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  min-width: 5em;
  height: 15vh;
  min-height: 4em;
  margin: 5vh;

  border: solid #66C275 2px;
}

section {

  font-size: 3rem;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  border-right: solid #66C275 5px;
  border-bottom: solid #66C275 5px;

  font-size: 5rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 45vw;
  height: 45vw;
  margin-top: 10vh;
}

article:nth-child(3) {
  border-right: none;
}

article:nth-child(6) {
  border-right: none;
}

article:nth-child(7) {
  border-bottom: none;
}

article:nth-child(8) {
  border-bottom: none;
}

article:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

.flashlight {
  width: 10vw;
}

@media only screen and (max-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
  }

  main {
    justify-self: center;
    width: 100%;
    grid-area: 2/1/2/3;
  }

  aside {
    justify-self: center;
    width: 60%;
  }

  article {
    width: 25vw;
    height: 25vw;
  }

  .game-board {
    width: 75vw;
    height: 75vw;
  }
}
